.arkaplan {
  display: flex;
  justify-content: center;
  align-items: center;
}
#arkaplan1 {
  background-color: black;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

#arkaplan2 {
  background-color: black;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;

}
#arkaplan3 {
  background-color: black;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;

}
#arkaplan4 {
  background-color: black;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;

}
#arkaplan5 {
  background-color: black;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;

}
